<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Add Ninja</title>
  <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<h1>Add New Ninja</h1>
<div class="form-container">
  <div th:if="${message}" class="message" th:text="${message}"></div>
  <form th:action="@{/ninjas/ui/save}" th:object="${ninja}" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" th:field="*{name}" required />

    <label for="email">Email:</label>
    <input type="email" id="email" th:field="*{email}" required />

    <label for="imgURL">Image URL:</label>
    <input type="text" id="imgURL" th:field="*{imgURL}" required />

    <label for="age">Age:</label>
    <input type="number" id="age" th:field="*{age}" required />

    <label for="rank">Rank:</label>
    <input type="text" id="rank" th:field="*{rank}" />

    <button type="submit">Register Ninja</button>
  </form>
  <a th:href="@{/ninjas/ui/list}">Go back to Ninjas List</a>
</div>
</body>
</html>