<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ninjas Table</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<h1>Ninjas List</h1>
<a class="btn-add" th:href="@{/ninjas/ui/add}">Add New Ninja</a>
<table>
    <thead>
        <tr>
            <th>Image</th>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Email</th>
            <th>Rank</th>
            <th>Missions</th>
        </tr>
    </thead>
    <tbody>
    <tr th:each ="ninja: ${ninjas}">
        <td> <img th:src="${ninja.imgURL}" width="100" height="100"> </td>
        <td th:text="${ninja.id}"></td>
        <td th:text="${ninja.name}"></td>
        <td th:text="${ninja.age}"></td>
        <td th:text="${ninja.email}"></td>
        <td th:text="${ninja.rank}"></td>
        <td>
            <span th:if="${ninja.missions}"><span th:text="${ninja.missions.name}"></span>, Rank: <span th:text="${ninja.missions.rank}"></span></span>
            <span th:if="${ninja.missions == null}">No missions registered for this ninja</span>
        </td>

        <td>
            <a th:href="@{/ninjas/ui/list/{id}(id=${ninja.id})}">See details</a>
            <a th:href="@{/ninjas/ui/#/{id}(id=${ninja.id})}">Change details</a>
            <a th:href="@{/ninjas/ui/delete/{id}(id=${ninja.id})}">Delete</a>
        </td>

    </tr>
    </tbody>
</table>
</body>
</html>